.properties-container {
    -fx-spacing: 20;
    -fx-min-height: 500;
    -fx-max-height: 500;
}


.container-header {
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-alignment: center;
    -fx-min-width: 280;
    -fx-max-width: 280;
}

.properties-container > * {
    -fx-min-width: 300;
    -fx-max-width: 300;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-padding: 10;
}

.bottom-box {
    -fx-border-insets: 15 0 0 0;
}

.name-label {
    -fx-min-width: 60;
}

.strategy-box {
    -fx-min-width: 278;
    -fx-max-width: 278;
    -fx-alignment: center;
}

.name-prompt {
    -fx-min-width: 235;
}

.hint {
    -fx-wrap-text: true;
    -fx-border-insets: 5 0 0 0;
}

.data-prompt {
    -fx-min-width: 120;
    -fx-max-width: 120;
}

.data-button {
    -fx-min-width: 70;
    -fx-max-width: 70;
}
