* {
    -fx-font-family: "Noto Sans";
}

.application-container {
    -fx-pref-width: 1280;
    -fx-pref-height: 720;
}

.header {
    -fx-font-weight: bolder;
    -fx-font-size: 32;
}

.section {
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.small-font {
    -fx-font-size: 14;
}

.medium-font {
    -fx-font-size: 18;
}

.center {
    -fx-alignment: center;
}

.small-margin {
    -fx-border-insets: 10;
    -fx-padding: 10;
}

.scrollable-container {
    -fx-padding: 5;
    -fx-fit-to-width: true;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.scrollbar {
    -fx-vbar-policy: as-needed;
}

.box {
    -fx-border-insets: 5;
    -fx-padding: 5;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.box-header {
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-min-width: 180;
    -fx-max-width: 180;
}