.list-container {
    -fx-border-insets: 40 0;
}

.name-label {
    -fx-min-width: 110;
}

.wallet-box {
    -fx-pref-width: 1280;
    -fx-pref-height: 720;
    -fx-font-weight: bolder;
    -fx-font-size: 32;
    -fx-alignment: center;
}

.right-box {
    -fx-min-width: 300;
}

.activity-button {
    -fx-min-width: 150;
    -fx-max-width: 150;
}